.liquid_button {
  position: relative;
  overflow: hidden;
  width: fit-content;
  display: inline-flex;
  isolation: isolate;
  background: var(--color-primary);
  color: var(--color-spark);
  padding-block: calc(var(--spacing) * 3);
  padding-inline: calc(var(--spacing) * 5);
  border-radius: var(--infinity-px);
  font-weight: bold;
}
.liquid_button.variant-spark {
  background: var(--color-spark);
  color: var(--color-primary);
}

@media (width < 48rem) {
  #navigation_menu {
    top: calc(-100dvh);
    left: 0;
    transition-duration: 500ms;
  }
  #navigation_menu.navigation-menu-shown {
    top: 0;
  }
  #navigation_menu.navigation-menu-hidden {
    top: calc(-100dvh);
  }
  .nav_menu_closed > span {
    transform: rotate(0deg) translateY(0) translateY(0);
    opacity: 1;
  }
  .nav_menu_opened > span:nth-child(1) {
    transform: rotate(45deg) translateY(10px) translateX(7px);
  }
  .nav_menu_opened > span:nth-child(2) {
    transform: translateX(-11px);
    opacity: 0;
  }
  .nav_menu_opened > span:nth-child(3) {
    transform: rotate(-45deg) translateY(-6px) translateX(3px);
  }
}

.container-padding {
  padding: calc(var(--spacing) * 5);
}
.hero-image-container {
  width: 100%;
}
details summary::marker {
  content: "";
}
details summary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
details summary::after {
  content: "+";
  font-weight: bolder;
  font-size: 2rem;
  line-height: 1rem;
  margin-top: -0.25rem;
}
details[open] summary::after {
  content: "-";
  font-weight: bolder;
  font-size: 2rem;
  line-height: 1rem;
  margin-top: -0.25rem;
}
details > [data-details-slot="content"] {
  height: 0px;
  transition: height 300ms ease-out;
  overflow: hidden;
}
details[open] > [data-details-slot="content"] {
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  details[open] [data-details-slot="content"] {
    interpolate-size: allow-keywords;
  }
}

.hero_heading {
  opacity: 0;
  transform: translateX(-20px);
  transition-duration: 1s;
}
.hero_sub_heading {
  opacity: 0;
  transform: translateY(-50px);
  transition-duration: 1s;
}
.hero_shown .hero_heading {
  opacity: 1;
  transform: translateX(0);
}
.hero_shown .hero_sub_heading {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 200ms;
}

.hero_cta_button {
  opacity: 0;
  transform: translateY(-50px);
  transition-duration: 1s;
}
.hero_shown .hero_cta_button {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 400ms;
}
.hero_cta_tagline {
  opacity: 0;
  transform: translateY(-50px);
  transition-duration: 1s;
}
.hero_shown .hero_cta_tagline {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 600ms;
}
.hero_image {
  transform: skew(0deg) !important;
}
.hero_image img {
  transform: skew(0deg) !important;
}
.hero_shown .hero_image {
  transform: skew(-5deg) !important;
  transition-duration: 1s;
  transition-delay: 200ms;
}
.hero_shown .hero_image img {
  transform: skew(5deg) !important;
  transition-duration: 1s;
  transition-delay: 200ms;
}
.hero_profile_stats li {
  transform: rotateX(90deg);
}
.hero_shown .hero_profile_stats li {
  transform: rotateX(0);
  transition-duration: 500ms;
}
.hero_shown .hero_profile_stats li:first-child {
  transition-delay: 200ms;
}
.hero_shown .hero_profile_stats li:nth-child(2) {
  transition-delay: 400ms;
}
.hero_ceo_name > * {
  transform: translateX(20px);
  opacity: 0;
}
.hero_shown .hero_ceo_name > * {
  transform: translateX(0);
  opacity: 1;
  transition-duration: 500ms;
}
.hero_shown .hero_ceo_name > *:first-child {
  transition-delay: 400ms;
}
.hero_shown .hero_ceo_name > *:nth-child(2) {
  transition-delay: 500ms;
}

#companies-banner ul li {
  transform: translateX(calc(calc(var(--index) * 20px) * -1));
  opacity: 0;
  transition-duration: 200ms;
}
#companies-banner.companies_banner_shown ul li {
  transform: translateX(0);
  opacity: 1;
  transition-delay: calc(var(--index) * 100ms);
}

#who_we_are h2 {
  transform: translateY(20px);
  opacity: 0;
  transition-duration: 500ms;
}
#who_we_are p {
  transform: translateY(20px);
  opacity: 0;
  transition-duration: 500ms;
}

#who_we_are.who_we_are_shown h2 {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0ms;
}
#who_we_are.who_we_are_shown p {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 200ms;
}

.solutions_heading1_hidden {
  transform: translateY(20px) !important;
  opacity: 0;
}
.solutions_p_hidden {
  transform: translateY(20px) !important;
  opacity: 0;
}
.solutions_heading1_shown {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0ms;
  transition-duration: 500ms;
}
.solutions_p_shown {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 200ms;
  transition-duration: 500ms;
}
.solutions_card_hidden {
  transform: translateX(calc(var(--index) * -5rem)) !important;
  opacity: 0;
}
.solutions_card_shown {
  transform: translateX(0) !important;
  opacity: 1;
  transition-delay: calc(var(--index) * 200ms);
  transition-duration: 500ms;
}

.team_writeup_hidden{
  transform: translateY(-5rem) !important;
  opacity: 0;
}
.team_writeup_shown{
  transform: translateY(-0) !important;
  opacity: 1;
  transition-delay: 200ms;
  transition-duration: 500ms;
}

.team_card_hidden {
  transform: translateX(calc(var(--index) * -5rem)) !important;
  opacity: 0;
}
.team_card_shown {
  transform: translateX(0) !important;
  opacity: 1;
  transition-delay: calc(var(--index) * 200ms);
  transition-duration: 500ms;
}

.testimonials_h2_hidden {
  transform: translateY(2rem);
  opacity: 0;
}
.testimonials_p_hidden {
  transform: translateY(2rem);
  opacity: 0;
}
.testimonials_h2_shown {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 200ms;
  transition-duration: 500ms;
}
.testimonials_p_shown {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 500ms;
  transition-duration: 500ms;
}

.testimonial_card_hidden{
  transform: translateY(calc(var(--index) * -2rem)) translateX(calc(var(--index) * -1rem));
  opacity: 0;
}
.testimonial_card_shown {
  transform: translateY(0) translateX(0);
  opacity: 1;
  transition-delay: calc(var(--index) * 100ms);
  transition-duration: 500ms;
}
